/* src/styles/about.css */
.form-container {
  margin-top: 80px; 
  max-width: 600px; /* Ajusta este valor según el ancho máximo que desees para el formulario */ /* Centra el formulario horizontalmente */
}
/* Ocultar las flechas en todos los navegadores */
input[type=number] {
  -webkit-appearance: none; /* Safari y Chrome */
  -moz-appearance: textfield; /* Firefox */
}

/* Opcional: Asegurarse de que las flechas se oculten correctamente en Safari */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-group {
  margin-bottom: 20px; /* Espacio entre cada grupo de formulario */
}
/* Ajusta el ancho del input de tipo number */
input[type=number] {
  width: 100%; /* O ajusta el ancho según tus necesidades */
  box-sizing: border-box; /* Asegura que el ancho incluya el padding y el borde */
  padding: 10px; /* Añade un padding para mejor apariencia */
  margin-bottom: 10px; /* Espacio inferior entre los inputs */
}

/* Ajusta el ancho del input de tipo text */
input[type=text] {
  width: 100%; /* O ajusta el ancho según tus necesidades */
  box-sizing: border-box; /* Asegura que el ancho incluya el padding y el borde */
  padding: 10px; /* Añade un padding para mejor apariencia */
  margin-bottom: 10px; /* Espacio inferior entre los inputs */
}

/* Ajusta el ancho del dropdown toggle */
.dropdown-toggle {
  width: 100%; /* O ajusta el ancho según tus necesidades */
  box-sizing: border-box; /* Asegura que el ancho incluya el padding y el borde */
  padding: 10px; /* Añade un padding para mejor apariencia */
}

.navbar-brand-img {
  max-width: 120px; /* Ajusta el ancho máximo de la imagen del NavbarBrand */
  height: auto; /* Mantiene la proporción de aspecto */
  padding-top: 0%;
  padding-bottom: 0%; /* Ajusta el padding alrededor de la imagen según sea necesario */
  margin-left: 50%;
}

.form-container {
  max-width: 800px; /* Ajusta según el tamaño deseado */
  margin: 200px auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Espaciado interno */
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Espaciado entre campos */
}

.form-group label {
  flex: 1; /* Ocupa el espacio necesario */
  margin-right: 10px; /* Espaciado entre label y input */
  text-align: right; /* Alinea el texto a la derecha */
}

.form-group .input-container {
  flex: 2; /* Ocupa el doble del espacio que el label */
  display: flex;
  align-items: center;
}

.form-group .input-container .dropdown-container {
  flex: 1;
}

.input-container input, .input-container .dropdown-container {
  width: 100%;
}

.form-group .dropdown-container {
  margin-left: 10px; /* Espaciado entre input y dropdown */
}

.button-container {
  text-align: center; /* Centra el botón */
  margin-top: 20px; /* Espaciado superior */
}
.warning-container {
  margin-top: 20px;
}

.warning-label {
  color: red;
  font-weight: bold;
}

.warning-message {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 10px;
  color: #721c24;
  margin-top: 5px;
}