.fondo {
  margin-top: 80px; 
  background-image: url('../images/fondocuadro.jpg'); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px); 
  height: 480px;
  margin: 100px 10px;
  background-size: cover;
  background-position: center;
  border-radius: 20px; 
  box-sizing: border-box;
}
